name: Create Release PR

on:
  push:
    branches:
      - main

jobs:
  create-release:
    uses: cpdevtools/git-flow/.github/workflows/create-release-pr.yml@main
    with:
      branch: main
      versions-file: .github/versions.json
      node-version: '20'
